<!DOCTYPE html>
   
   <head>
      <title>Angular JS Views</title>
      <link rel="stylesheet" href="../assets/dashboard.css">
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
      <script src="assets/dashboard.js"></script>
      <script src="controllers/statusUpdate.js"></script>
      <script src="controllers/employeeDetails.js"></script>
      <script src="controllers/dashboardView.js"></script>
   </head>
   
   <body ng-app = "mainApp">
      <header>Employee Dashboard</header>
      <nav>
         <ul>
            <li><a href = "#dashboard">Dashboard</a></li>
            <li><a href = "#employeeDetails">Employee Details</a></li>
            <li><a href = "#statusUpdate">Status update</a></li>
         </ul>
      </nav>
       <!--   <div><a href="#addEmployee" title="">Add</a></div> -->
         <div ng-view class="main-container">
         	<!-- template -->
         </div>
      <footer>Created By: Vinay</footer>
   </body>
</html>
